/* #Footer
================================================== */

.widget__footer {
	text-align: left;
}

.widget__footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.widget__footer ul li:hover {
    background: url(arrow-double-light-hover.png) 0 5px no-repeat;
}

.widget__footer ul li a:hover {
    color: #f1ad00;
    text-shadow: 1px 1px 0 #604500;
}

.contacts-list {}

ul.contacts-list li {
    background: none;
    padding: 0 0 0 45px;
    margin: 0 0 20px 0;
    position: relative;
    line-height: 16px;
}

ul.contacts-list li:hover {
    background: none;
}

ul.contacts-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 34px;
    height: 34px;
    background: url(contacts-icons.png) 0 0 no-repeat;
}

ul.contacts-list li.phone:before {
    background-position: 0 0;
}

ul.contacts-list li.email:before {
    background-position: -34px 0;
}

ul.contacts-list li.address:before {
    background-position: -68px 0;
}

ul.contacts-list .name {
    display: block;
}
